body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1758%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1759)'%3e%3c/rect%3e%3cpath d='M1440 0L861.9 0L1440 72.84z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M861.9 0L1440 72.84L1440 330.65999999999997L740.67 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M740.67 0L1440 330.65999999999997L1440 360.32L576.8299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M576.8299999999999 0L1440 360.32L1440 469.06L251.0399999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L515.56 560L0 478.87z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 478.87L515.56 560L842.8199999999999 560L0 329.83000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 329.83000000000004L842.8199999999999 560L923.7099999999999 560L0 213.49000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 213.49L923.7099999999999 560L952.2199999999999 560L0 148.35000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1758'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1759'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(60%2c 99%2c 130%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}

.navBar,
.navBar * {
  z-index: 100;
}
.navBar .openButton {
  font-size: 300%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
}
.navBar .openButton .icon {
  margin-block: auto;
  color: #040507;
  cursor: pointer;
}
.navBar .openButton input {
  position: absolute;
  margin: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.navBar .navContainer {
  background-color: #f5da8a;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px #2d4052;
  transition: transform 300ms ease-in-out;
}
.navBar .navContainer.open {
  transform: translateX(0%);
}
.navBar .navContainer.open .closeButton {
  transform: translateX(calc(50% + 2rem)) rotateZ(180deg);
}
.navBar .navContainer.open .links ul li {
  transform: translateX(0%);
}
.navBar .navContainer.open .links ul li:nth-child(1) {
  transition-delay: 100ms;
}
.navBar .navContainer.open .links ul li:nth-child(2) {
  transition-delay: 200ms;
}
.navBar .navContainer.open .links ul li:nth-child(3) {
  transition-delay: 300ms;
}
.navBar .navContainer.open .links ul li:nth-child(4) {
  transition-delay: 400ms;
}
.navBar .navContainer.open .links ul li:nth-child(5) {
  transition-delay: 500ms;
}
.navBar .navContainer.open .links ul li:nth-child(6) {
  transition-delay: 600ms;
}
.navBar .navContainer.open .links ul li:nth-child(7) {
  transition-delay: 700ms;
}
.navBar .navContainer.open .links ul li:nth-child(8) {
  transition-delay: 800ms;
}
.navBar .navContainer.open .links ul li:nth-child(9) {
  transition-delay: 900ms;
}
.navBar .navContainer.open .links ul li:nth-child(10) {
  transition-delay: 1000ms;
}
.navBar .navContainer.open .links ul li:nth-child(11) {
  transition-delay: 1100ms;
}
.navBar .navContainer.open .links ul li:nth-child(12) {
  transition-delay: 1200ms;
}
.navBar .navContainer.open .links ul li:nth-child(13) {
  transition-delay: 1300ms;
}
.navBar .navContainer.open .links ul li:nth-child(14) {
  transition-delay: 1400ms;
}
.navBar .navContainer.open .links ul li:nth-child(15) {
  transition-delay: 1500ms;
}
.navBar .navContainer.open .links ul li:nth-child(16) {
  transition-delay: 1600ms;
}
.navBar .navContainer.open .links ul li:nth-child(17) {
  transition-delay: 1700ms;
}
.navBar .navContainer.open .links ul li:nth-child(18) {
  transition-delay: 1800ms;
}
.navBar .navContainer.open .links ul li:nth-child(19) {
  transition-delay: 1900ms;
}
.navBar .navContainer.open .links ul li:nth-child(20) {
  transition-delay: 2000ms;
}
.navBar .navContainer.open .links ul li:nth-child(21) {
  transition-delay: 2100ms;
}
.navBar .navContainer.open .links ul li:nth-child(22) {
  transition-delay: 2200ms;
}
.navBar .navContainer.open .links ul li:nth-child(23) {
  transition-delay: 2300ms;
}
.navBar .navContainer.open .links ul li:nth-child(24) {
  transition-delay: 2400ms;
}
.navBar .navContainer.open .links ul li:nth-child(25) {
  transition-delay: 2500ms;
}
.navBar .navContainer.open .links ul li:nth-child(26) {
  transition-delay: 2600ms;
}
.navBar .navContainer.open .links ul li:nth-child(27) {
  transition-delay: 2700ms;
}
.navBar .navContainer.open .links ul li:nth-child(28) {
  transition-delay: 2800ms;
}
.navBar .navContainer.open .links ul li:nth-child(29) {
  transition-delay: 2900ms;
}
.navBar .navContainer.open .links ul li:nth-child(30) {
  transition-delay: 3000ms;
}
.navBar .navContainer.open .links ul li:nth-child(31) {
  transition-delay: 3100ms;
}
.navBar .navContainer.open .links ul li:nth-child(32) {
  transition-delay: 3200ms;
}
.navBar .navContainer.open .links ul li:nth-child(33) {
  transition-delay: 3300ms;
}
.navBar .navContainer.open .links ul li:nth-child(34) {
  transition-delay: 3400ms;
}
.navBar .navContainer.open .links ul li:nth-child(35) {
  transition-delay: 3500ms;
}
.navBar .navContainer.open .links ul li:nth-child(36) {
  transition-delay: 3600ms;
}
.navBar .navContainer.open .links ul li:nth-child(37) {
  transition-delay: 3700ms;
}
.navBar .navContainer.open .links ul li:nth-child(38) {
  transition-delay: 3800ms;
}
.navBar .navContainer.open .links ul li:nth-child(39) {
  transition-delay: 3900ms;
}
.navBar .navContainer.open .links ul li:nth-child(40) {
  transition-delay: 4000ms;
}
.navBar .navContainer.open .links ul li:nth-child(41) {
  transition-delay: 4100ms;
}
.navBar .navContainer.open .links ul li:nth-child(42) {
  transition-delay: 4200ms;
}
.navBar .navContainer.open .links ul li:nth-child(43) {
  transition-delay: 4300ms;
}
.navBar .navContainer.open .links ul li:nth-child(44) {
  transition-delay: 4400ms;
}
.navBar .navContainer.open .links ul li:nth-child(45) {
  transition-delay: 4500ms;
}
.navBar .navContainer.open .links ul li:nth-child(46) {
  transition-delay: 4600ms;
}
.navBar .navContainer.open .links ul li:nth-child(47) {
  transition-delay: 4700ms;
}
.navBar .navContainer.open .links ul li:nth-child(48) {
  transition-delay: 4800ms;
}
.navBar .navContainer.open .links ul li:nth-child(49) {
  transition-delay: 4900ms;
}
.navBar .navContainer.open .links ul li:nth-child(50) {
  transition-delay: 5000ms;
}
.navBar .navContainer.open .footer {
  transform: translateY(0);
}
.navBar .navContainer.closed {
  transform: translateX(-100%);
}
.navBar .navContainer .closeButton {
  position: absolute;
  background-color: #f3d372;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  top: calc(50% - 33px);
  right: 2rem;
  font-size: 300%;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}
.navBar .navContainer .closeButton .icon path {
  stroke: #2d4052;
}
.navBar .navContainer .links {
  font-size: 125%;
  height: 60vh;
  margin-block: 5rem;
}
.navBar .navContainer .links ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navBar .navContainer .links ul li {
  margin: 1rem;
  padding-inline: 4rem;
  font-size: 1.5em;
  transition: transform 450ms ease;
  transform: translateX(-100%);
}
.navBar .navContainer .links ul li a {
  color: #2d4052;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
.navBar .navContainer .links ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: #2d4052;
  transition: transform 150ms ease 50ms;
  transform-origin: left;
  transform: scaleX(0.1);
}
.navBar .navContainer .links ul li a:hover::after, .navBar .navContainer .links ul li a:focus::after {
  transform: scaleX(1);
}
.navBar .navContainer .footer {
  font-size: 175%;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100px);
  transition: transform 500ms ease;
}
.navBar .navContainer .footer ul {
  margin: 2rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.navBar .navContainer .footer ul li a {
  color: #2d4052;
}

.errorPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.errorPage .content {
  padding-block: 4rem;
  padding-inline: 0.5rem;
  color: #7cd5de;
  text-align: center;
  font-size: 125%;
  max-width: 400px;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 520px) {
  .errorPage .content {
    padding-inline: 8rem;
  }
}
.errorPage .content p {
  padding-inline: 0.5rem;
}
@media screen and (min-width: 520px) {
  .errorPage .content p {
    padding-inline: 4rem;
  }
}
.errorPage .content button {
  border-radius: 0.5rem;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 105%;
  color: inherit;
  position: relative;
  cursor: pointer;
}
.errorPage .content button a {
  color: inherit;
  text-decoration: none;
}
.errorPage .content button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #7cd5de;
  transition: transform 150ms ease;
  transform-origin: left;
  transform: scaleX(0.1);
}
.errorPage .content button:hover::after {
  transform: scaleX(1);
}
.errorPage::after {
  content: "404";
  overflow: hidden;
  position: absolute;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  inset: 0;
  font-weight: bold;
  display: grid;
  place-items: center;
  font-size: 20rem;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #243342;
  text-shadow: -1px -1px #354a5f, -2px -2px #354a5f, -3px -3px #354a5f, -4px -4px #354a5f, -5px -5px #354a5f, 1px 1px #121a21, 2px 2px #121a21, 3px 3px #121a21, 4px 4px #121a21, 5px 5px #121a21;
}
@media screen and (max-width: 560px) {
  .errorPage::after {
    font-size: 50vw;
  }
}

.contentPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.contentPage .slideShow {
  padding-top: 5rem;
  position: relative;
}
.contentPage .slideShow .slides {
  padding: 0;
  z-index: 0;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  margin-inline: auto;
  font-size: 0.8rem;
  box-shadow: 0 0 20px #040507;
  scroll-behavior: smooth;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contentPage .slideShow .slides {
    width: 70vw;
    max-width: 1280px;
  }
}
.contentPage .slideShow .slides .title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #f3d372;
  font-size: 300%;
  text-align: center;
  z-index: 100;
  text-shadow: 0 0 10px #040507;
}
@media screen and (min-width: 520px) {
  .contentPage .slideShow .slides .title {
    font-size: 400%;
  }
}
.contentPage .slideShow .slides div,
.contentPage .slideShow .slides img {
  min-width: 100%;
  height: 100%;
  position: inherit;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.contentPage .slideShow .slides div .nextButton,
.contentPage .slideShow .slides img .nextButton {
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f3d372;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 300%;
  text-decoration: none;
}
@media screen and (min-width: 520px) {
  .contentPage .slideShow .slides div .nextButton,
.contentPage .slideShow .slides img .nextButton {
    font-size: 400%;
    width: 100px;
    height: 100px;
  }
}
.contentPage .slideShow .slides div .nextButton.left,
.contentPage .slideShow .slides img .nextButton.left {
  left: 0;
}
.contentPage .slideShow .slides div .nextButton.right,
.contentPage .slideShow .slides img .nextButton.right {
  right: 0;
}
@media screen and (max-width: 768px) {
  .contentPage .slideShow .slides .slide img {
    max-height: 300px;
  }
}
.contentPage .slideShow .slideNav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(125%);
}
.contentPage .slideShow .slideNav .linkButton {
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #040507;
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #f3d372;
  color: #f3d372;
  margin: 0 0.75rem;
  font-weight: bold;
  box-shadow: 0 0 10px #040507;
}
.contentPage .slideShow .slideNav .linkButton:active {
  background-color: #f3d372;
  color: #040507;
}
@media screen and (min-width: 520px) {
  .contentPage .slideShow .slideNav {
    bottom: 1rem;
    transform: translateY(0);
  }
}
.contentPage .contentBar {
  background-color: #f5da8a;
  color: #040507;
  padding: 3rem 0 6rem 0;
  margin: 15rem 0;
  text-align: center;
  position: relative;
}
.contentPage .contentBar h1 {
  font-size: 200%;
  color: #040507;
}
.contentPage .contentBar p {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}
.contentPage .contentBar .bottomWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(100%);
}
.contentPage .contentBar .bottomWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}
.contentPage .contentBar .bottomWave .shape-fill {
  fill: #f5da8a;
}
.contentPage .contentBar .topWave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(-100%);
}
.contentPage .contentBar .topWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}
.contentPage .contentBar .topWave .shape-fill {
  fill: #f5da8a;
}
.contentPage .Header {
  margin-top: 0;
  margin-bottom: 6rem;
}
.contentPage footer {
  color: #040507;
  background-color: #f5da8a;
  margin-top: auto;
}
.contentPage footer .row {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contentPage footer .row.top {
  flex-direction: row;
  justify-content: space-around;
  color: #040507;
  padding-top: 1rem;
}
.contentPage footer .row.top .col {
  display: flex;
  max-width: 30vw;
  width: 100%;
  text-align: left;
  justify-content: space-between;
}
.contentPage footer .row.top .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contentPage footer .row.top .col ul li {
  padding: 0.1rem;
}
.contentPage footer .row.top .col ul li.title {
  color: #4c7ca4;
  font-size: 110%;
  font-weight: bold;
  padding: 0.5rem;
}
.contentPage footer .row.top .col ul li a {
  color: #040507;
  text-decoration: none;
}
.contentPage footer .row.top .col ul li a:active {
  color: #4c7ca4;
}
.contentPage footer .row.top .col.desc {
  flex-direction: column;
}
.contentPage footer .row.top .col.desc h3 {
  margin: 0;
  padding: 0.5rem;
  color: #4c7ca4;
}
.contentPage footer .row.top .col.desc p {
  margin: 0;
}
.contentPage footer .row .socials ul {
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 200%;
  margin: 0;
  justify-content: center;
}
.contentPage footer .row .socials ul li {
  padding-inline: 1rem;
}
.contentPage footer .row .socials ul li a {
  color: #040507;
}
.contentPage footer .row .socials ul li a:active {
  color: #4c7ca4;
}

.loadingPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7cd5de;
}
.loadingPage svg {
  stroke: #7cd5de;
}
.loadingPage svg path {
  stroke: #7cd5de;
  fill: #7cd5de;
}
.loadingPage .text {
  display: flex;
  align-items: center;
  margin-block: 2rem;
}
.loadingPage .text h1 {
  margin: 0;
}
.loadingPage .text svg {
  width: 40px;
  margin-top: auto;
  fill: #7cd5de;
}
.loadingPage .text svg circle {
  fill: #7cd5de;
}/*# sourceMappingURL=index.css.map */